# Byte-compiled / optimized / DLL files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info/

# IDE & Editor
.idea/
.vscode/

# Testing & Linting caches
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Environments
.venv/
.env
.env.*
!.env.example
*.log



